*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: PressStart2p;
    src: url(fonts/PressStart2P-Regular.ttf);
}
body{
    background-image: linear-gradient(60deg, black, rgb(103, 47, 255));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-60%, -55%);
    border-radius: 15px;
    margin: 20px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgb(218, 218, 218);
    text-align: center;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    margin: 2px;
    border-radius: 5px;
}
.botao:hover{
    background-color: rgb(98, 45, 245);
}
#resultado{
    width: 217px;
    height: 30px;
    margin: 5px;
    background-color: white;
    color: black;
    text-align: right;
    padding: 5px;
}
header{
    text-align: center;
    margin-top: 100px;
    font-family: 'PressStart2p', cursive;
}
header h2{
    cursor: pointer;

}

 